body {
    font-family: "Poppins", sans-serif;
    margin:8px;
    background-color: #f9f9f9;
    color: #3333;
}
.navbar{
    background: #0b3954;
    color:white;
    padding : 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.narbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar a{
    color:white;
    text-decoration: none;
}
.hero{
    text-align: center;
    padding: 100px 200px;
    background: linear-gradient(to right, #387fa1, #0b3954);
    color:white;
}
.hero button{
    background-color: #ffcc00;
    border:none;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}
.about{
    padding: 60px 20px;
    text-align: center;
}
.footer{
    text-align: center;
    background: #0b3954;
    color:   white;
    padding: 20px;
}